body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

.left-section {
    width: 50%;
    background-color: lightgray;
}

.right-section {
    width: 50%;
    background-color: #4c6fbf;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.right-section .login-heading {
    font-size: 1.5em;
    color: white;
    margin-top: 20px;
}

.right-section .login-heading2 {
    margin-bottom: 20px;
    color: white;
}

.right-section a {
    color: white;
    text-decoration: none;
}

.right-section a:hover {
    text-decoration: underline;
}

.right-section input[type="text"],
.right-section input[type="password"],
.right-section input[type="username"] {
    width: 50%;
    margin-bottom: 10px;
    padding: 10px;
    height: 5vh;
    border-radius: 5px;
    border-style: none;
}

.right-section .username-label,
.right-section .password-label {
    margin-right: 15%;
    font-size: 1.5em;
    margin-bottom: 10px;
    color: white;
}

.right-section .input-container {
    align-items: center;
    position: relative;
    width: 50%;
    right: 2%;
}

.right-section .input-container input[type="text"],
.right-section .input-container input[type="password"] {
    width: 100%;
    padding-right: 35px;
}

.right-section .username-icon,
.right-section .password-icon {
    position: absolute;
    left: 100%;
    top: 60%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.right-section .username-icon {
    background-image: url("./assets/icons8-person-60.png");
}

.right-section .password-icon {
    background-image: url("./assets/icons8-closed-eye-100.png");
}

.right-section .checkbox-container {
    width: 50%;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    margin-top: 3vh;
}

.right-section .checkbox-container input[type="checkbox"] {
    margin-right: 10px;
}

.right-section .forgot-password {
    margin-top: 10px;
}

.login-btn {
    width: 55%;
    padding: 10px;
    font-size: 16px;
    border-style: none;
    border-radius: 5px;
    background-color: #7b96d4;
    height: 8vh;
    margin-top: 5vh;
    margin-bottom: 10vh;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .left-section,
    .right-section {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .right-section .login-heading {
        font-size: 1.2em;
    }

    .right-section .login-heading2 {
        font-size: 0.9em;
    }

    .right-section input[type="text"],
    .right-section input[type="password"] {
        width: 90%;
    }

    .right-section .checkbox-container {
        width: 90%;
    }

    .right-section .forgot-password {
        font-size: 0.9em;
    }

    .login-btn {
        width: 90%;
        height: auto;
        padding: 8px;
        font-size: 14px;
    }

    .right-section .username-label,
    .right-section .password-label {
        margin-right: 5%;
        font-size: 1.2em;
    }
}
